.stopwatch-container {
   height: max-content;
}

.stopwatch {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 260px;
   height: 260px;
   margin: 20px 0;
   border-radius: 50%;
   font-size: 40px;
   font-weight: normal;
   border: 6px solid white;
}
