.slider {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   height: 100vh;
}

.slide {
   width: 500px;
   height: 300px;
   border-radius: 5px;
}

.arrow-right {
}

.arrow-left {
}
