.Projects {
   min-height: 100vh;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: #fbfbfb;
}

.cards-wrapper {
   width: 70%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.cards:hover {
   cursor: pointer;
   background-color: rgb(209, 252, 230);
}

.cards {
   height: 200px;
   width: 200px;
   box-sizing: border-box;
   padding: 10px;
   margin: 10px;

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   background-color: rgb(255, 255, 255);
   box-shadow: 1px -1px 14px 0px #d2d2d2;
   border-radius: 3px;
}

.cards img {
   width: 30%;
}

.cards-title {
   font-size: 20px;
}
